* {
    box-sizing: border-box;
}

.boardMainText {
    display: grid;
    grid-template-columns: 80px 1fr 110px;
    column-gap: 15px;
    margin: 0 20px;
    align-items: center;
}


.boardMainText>span:nth-child(2)span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.post_click {
    display: inline;
    width: fit-content;
    cursor: pointer;
}

.board_css {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0px;
}

.board_modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#writePost {
    display: block;
    width: 1500px;
    max-width: 95%;
    border-radius: 8px;
    margin: 0 auto;
    border: 50px;
    background-color: white;
}