#mt {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 0;
}

#search {
    display: flex;
    justify-content: center;
}

#search > input {
    width: 500px;
    height: 30px;
}

form{
    justify-self: end;
    margin-right: 30px;
}

