*{
    box-sizing: border-box;
}
.main_post {
    width: 90%;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

#new_post {
    width: 400px;
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.post_grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.post_grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.dayck {
    margin-left: auto;
}

.post_list {
    flex-direction: column;
    width: 90%;
    background-color: rgba(139, 59, 59, 0.5);
    margin: 0 auto;
    padding: 20px;
}

.gams_post {
    display: flex;
    
    margin: 10px;
}

.post_text{
    display: flex;
    background-color: rgba(66, 23, 23, 0.5);
    margin-left: 10px;
}

.img-wrapper {
    position: relative;
    width: 576px;
    height: 324px;
}

.img-wrapper>img {
    width: 100%;
    height: 100%;
}

.imgBt {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    border-radius: 4px;
    z-index: 10;
}

.post_text {
    flex-direction: column;
}

.prevBt {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nextBt {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}