.main_post {
    width: 1800px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

#new_post {
    width: 400px;
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.post_grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.post_grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.dayck{
    margin-left: auto;
}