.main_post {
    width: 1800px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

#new_post {
    width: 400px;
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.post_grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.post_grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.dayck{
    margin-left: auto;
}

.post_list{
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: rgba(139, 59, 59, 0.5);
}

.post_list div{
    display: flex;
    padding: 10px;
    background-color: rgba(66, 23, 23, 0.5);
}
.post_list img{
    width: 576px;
    height: 324px;
}

.post_text{
    flex-direction: column;
}

